<!doctype html>
<html lang="pt-BR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=5; IE=8; IE=7; IE=9; IE=10; IE=11" >
<title>ON STORES | Carrinho | Boleto</title>
<link href="/css/estilo.css" rel="stylesheet" type="text/css" />
</head>

<body id="login">

<div class="full">  
    
    <header>
   

    <!---mosrar o passo a passo quando estiver comprando--->
    	<nav class="rota">
        	<a href="" class="rts">
            	<span>1</span><br>
                Minha Sacola
            </a>
            <a href="" class="rts">
            	<span>2</span><br>
                Identificação
            </a>
            <a href="" class="rts ">
            	<span>3</span><br>
                Pagamento
            </a>
            <a href="" class="rts ativo">
            	<span>4</span><br>
                Confirmação
            </a>            
        </nav>
        
    </header>
    
	<div class="clear"></div>

	<div class="boleto">
       
       
   	  <div class="paper">
            <div class="bl">
              <img src="/imagens/boleto-print.jpg" width="88" height="70"> <br>
              Imprima o boleto e pague no banco
            </div>
            
              <div class="bl">
            	<img src="/imagens/boleto-barras.jpg" width="88" height="70"> <br>
                Se preferir pague pela internet utilizando o código de barras.
            </div>
            
              <div class="bl">
            	<img src="/imagens/boleto-calendar.jpg" width="88" height="70"> <br>
                O prazo de validade do boleto é de 2 dias uteis.
            </div>
     
      <div class="clear"></div><br>
      <p>A confirmação do seu pagamento pode demorar até 48hs.<br>
		Após a confirmação, você receberá um email com todas as informações do seu pedido.</p>
     
     
      </div><!--paper-->
        
   	<div id="geraboleto">
    	<h2>Importante</h2>
        <p>Só emitimos boleto do Banco Brasdesco. Confira os dados antes de pagá-lo.</p>
    	<span>*Caso o pagamento não seja realizado, seu pedido será cancelado.</span>
    </div>
   
     <div class="clear"></div><br>
   
    <div class="finaliza">      
         <a href="" target="_blank"> Imprimir boleto</a> 
     </div>
   
    <div class="clear"></div><br>
   
   <a href=/ target="_parent">continuar comprando</a>
   
    </div><!--boleto-->
    
    
    
</div><!--full-->
</body>
</html>