<% layout("../layout/index") -%>
<% block("title", "ON STORES |  Minhas Sacola | Pagamento não realizado"); -%>


<body id="login">

<div class="full">      

    <div>

    	<nav class="rota"  class="rts">
        	<a href="" class="rts">
            	<span>1</span><br>
                Minha Sacola
            </a>

            <a href="" class="rts">
            	<span>2</span><br>
                Identificação
            </a>

            <a href="" class="rts">
            	<span>3</span><br>
                Pagamento
            </a>

            <a href="" class="rts" ativo>
            	<span>4</span><br>
                Cancelado
            </a>            

        </nav>

        

    </div>

 	<div class="clear"></div>

  <div class="confirmacao">

	<div id="erro">
   	 		<img src="/imagens/pena.jpg" width="78" height="77">
          	<h2>Ops...</h2>
            <h3>O pagamento não foi realizado.</h3> 
            <a href="/carrinho">Tente novamente</a>
      <div class="clear"></div>
      </div>


  </div><!--sou cliente-->


</div><!--full-->
