<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Erro"); -%>
<div class="full">
	<h1>ERRO!</h1>
	<p>Houve um problema ao enviar dados para nosso site. Por favor tente novamente mais tarde</p>
</div><!--full-->
