<% layout("../layout/index") -%>
<% block("title", "Informações"); -%>


<div class="full">
    
        <aside class="sembanner">
        	<h1 class="titles">
        		<span class="tgrey" style="left:16%">Informações</span>
        	</h1>
        </aside> <!--banner-->
  
	  <article id="informacoes">
        	
         <section class="history">
         
       	  	<img src="imagens/fachada-shopping.jpg" class="img">
            
            <h2>História do Cidade São Paulo</h2>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
            
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
            
         </section><!--history-->
        
        <div class="funcionamento">
        	<h3>Horários de Funcionamento</h3>
           
           <!--esta tabela é fixa e nao se repete--->
            <table class="fnc">
              <tr>
                <th>Lojas</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>
            
             <!--esta tabela é fixa e nao se repete--->
             <table class="fnc">
              <tr>
                <th>Gastronomia / Praça de Alimentação</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>
            
             <!---esta tabela é dinamica e vamos printar--->
             <table class="fnc">
              <tr>
                <th>Outback</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>
            
            <!---esta tabela é dinamica e vamos printar--->
             <table class="fnc">
              <tr>
                <th>Hiro Sushi</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>

        		
        
        </div><!--funcionamento-->
        
        <div class="clear"></div>
        
        <div class="mapa">
        	<h3>Como Chegar</h3>
            	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14628.78619420263!2d-46.7140186!3d-23.5613834!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c88849fd6d%3A0x6c2a8652e6e5b36a!2sShopping+Cidade+S%C3%A3o+Paulo!5e0!3m2!1spt-BR!2sbr!4v1505422640892" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>    
            
        </div>
        
        <div class="mapa">
        	<h3>Mapa do Shopping</h3>
            <div>
            	<img src="imagens/shopping-cerrado.svg" class="img">
            </div>    
            
        </div>
        
        <div class="clear"></div>
        
        <div class="contato">   
       	<h2>Fale Conosco</h2> 
       	<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de realcionamento do ON.STORES que nossa equipe entrará em contato rapidamente com você.</p>     
		
          <div class="ctc">
                <div class="campos100">
                    <input type="text" value="" placeholder=" Nome ">
                </div>
                
                <div class="campos100">
                    <input type="text" value="" placeholder=" E-mail ">
                </div>
                
                <div class="campos100">
                    <input type="text" value="" placeholder=" Telefone ">
                </div>
                
                <div class="campos100">
                    <input type="text" value="" placeholder=" Tipo de Atendimento ">
                </div>
            
          </div><!--ctc-->
          
          <div class="ctc">
                <div class="campos100">
                   <textarea rows="4" cols="50" placeholder=" Mensagem "></textarea>
                </div>
              
               <input type="submit" value=" Enviar ">
          
          </div><!--ctc-->
   
   		<div class="linkcont">
        	<a href="http://vagas.intranetmall.com.br/grandplazashopping/" target="_blank">Trabalhe Conosco</a>
            <a href="https://im.intranetmall.com.br/grandplazashopping/" target="_blank">Portal do Lojista</a>
        </div>
   
   <div class="clear"></div>
   </div><!--contato--> 
        
      </article><!--informaçoes-->
 	

   
   </div><!--produtos--> 
 </div><!--full-->