

        	
         <section class="history">
         
       	  	<img src="/imagens/sho-smb.jpg" class="img">
            
            <h2>História do Shopping Metropolitano Barra</h2>
             <p>O Shopping Metropolitano Barra integra-se naturalmente à cidade, como se estivesse sempre no mesmo lugar, fazendo parte da paisagem, da vida e da rotina carioca. Neste espaço, onde o urbano e a natureza convivem harmoniosamente, você encontra amigos, compartilha moda, cultura e lazer, como também descobre tendências e novidades.
Somado a tudo isso, muito conforto, beleza e praticidade. O melhor que você espera e merece. Sempre!
Em 2016, o Shopping Metropolitano Barra ganhou dois prêmios ouro. Um pelo ICSC – International Council of Shopping Center – na categoria Projeto e Desenvolvimento e outro pela Abrasce, na categoria Novos Empreendimentos.</p>
         </section><!--history-->
        
        <div class="funcionamento">
        	<h3>Horários de Funcionamento</h3>
           
           <!--esta tabela é fixa e nao se repete--->
            <table class="fnc">
              <tr>
                <th>Lojas</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>
			<table class="fnc">
              <tr>
                <th>Alimentação</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
			  <tr>
                <td>Sextas e sábados:</td>
                <td>10:00 - 23:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>11:00 - 20:00 hrs</td>
              </tr>
            </table>
            

        		
        
        </div><!--funcionamento-->
        
        <div class="clear"></div>
        
        <div class="mapa">
        	<h3>Como Chegar</h3>
            <!--<span id="map"></span>	-->
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.4308825478515!2d-43.374698285846655!3d-22.971177684979143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd97d8c6229df%3A0xc04bd48dd326f6f9!2sShopping+Metropolitano+Barra!5e0!3m2!1spt-BR!2sbr!4v1510870802515" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>  

	 </div>
        
        <div class="mapa">
        	<h3>Mapa do Shopping</h3>
            <div>
            	<img src="/imagens/shopping-smb.svg" class="img" title="Shopping Cerrado">
            </div>            
        </div>
		
		 <div class="clear"></div>
        
        <div class="contato">   
       	<h2>Fale Conosco</h2> 
       <p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
			que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>onstores@shoppingmetropolitanobarra.com.br</strong></p>   
		<form method="POST" action=""  onSubmit="return checkform_informacoes(this);">
          <div class="ctc">
                <div class="campos100">
                    <input name="nome" type="text" value="" placeholder=" Nome ">
                </div>
                
                <div class="campos100">
                    <input name="email" type="text" value="" placeholder=" E-mail ">
                </div>
                
                <div class="campos100">
                    <input name="telefone" type="text" value="" placeholder=" Telefone ">
                </div>
                
                <div class="campos100">
                    <input name="tipo" type="text" value="" placeholder=" Tipo de Atendimento ">
                </div>
            
          </div><!--ctc-->
          
          <div class="ctc">
                <div class="campos100">
                   <textarea name="mensagem" rows="4" cols="50" placeholder=" Mensagem "></textarea>
                </div>
              
               <input type="submit" value=" Enviar ">
			   <input type="hidden" name="_csrf" value="<%= csrfToken %>">	
          
          </div><!--ctc-->
   
   		<div class="linkcont">
        	<a href="http://vagas.intranetmall.com.br/shoppingcerrado/" target="_blank">Trabalhe Conosco</a>
            <a href="http://www.intranetmall.com.br/shoppingcerrado/" target="_blank">Portal do Lojista</a>
        </div>
		
		</form>
        

