

        	
         <section class="history">
         
       	  	<img src="/imagens/sho-tps.jpg" class="img">
            <h3>Horários de Funcionamento</h3>
           
           <!--esta tabela é fixa e nao se repete--->
            <table class="fnc">
              <tr>
                <th>Lojas</th>
                <th>Horário</th>
              </tr>
              <tr>
                <td>Seguna à Sábado</td>
                <td>10:00 - 22:00 hrs</td>
              </tr>
              <tr>
                <td>Domingos e Feriados</td>
                <td>14:00 - 20:00 hrs</td>
              </tr>
            </table>
            
         </section><!--history-->
        
        <div class="funcionamento">
        	<h2>História do  Tietê Plaza Shopping</h2>
             <p>Com um projeto arrojado e moderno, o Tietê Plaza Shopping conta com um amplo mix de lojas e oferece completa infraestrutura para suas compras, 
			 alimentação e lazer. Localizado na zona Noroeste da Cidade, o Tietê Plaza possui fácil acesso a partir das duas principais
			 vias da região: Marginal Tietê e Av. Raimundo Pereira Magalhães.</p>
			 
			 <h2>Sobre a CCP Shoppings</h2>

			<p>A CCP (Cyrela Commercial Properties S.A) é uma das principais empresas de desenvolvimento, aquisição, locação, venda e administração de imóveis comerciais do Brasil. Atualmente, tem em seu portfólio de shoppings oito empreendimentos no país, localizados nos estados de São Paulo, Rio de Janeiro, Minas Gerais, Goiás e Pará. Somados, abrigam mais de 1,5 mil varejistas em ABL (Área Bruta Locável) total superior a 289 mil m², dados que colocam a CCP entre as maiores administradoras de shoppings do Brasil. Desenvolvidos dentro dos mais avançados padrões construtivos, esses empreendimentos se destacam pela arquitetura moderna e funcional, localização privilegiada, potencial de retorno e permanentes práticas de sustentabilidade relacionadas à segurança, saúde e meio ambiente.
			Portfólio CCP</p>

			<p>Além do Grand Plaza Shopping, conheça os Shopping Centers administrados pela CCP.</p>

			<p>
			Em operação:<br>
			Shopping Center D - SP<br>
			Tietê Plaza Shopping - SP<br>
			Shopping Cidade de São Paulo - SP<br>
			Shopping Metropolitano Barra - RJ<br>
			Parque Shopping Belém - PA<br>
			Shopping Estação BH - MG<br>
			Shopping Cerrado - GO
			</p>	
        
        </div><!--funcionamento-->
        
        <div class="clear"></div>
        
        <div class="mapa">
        	<h3>Como Chegar</h3>
            <!--<span id="map"></span>	-->
          
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.72444348107!2d-46.72061588548277!3d-23.506432765450114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cefbbafbce37cb%3A0x6dccb90b7d41b24c!2sTiet%C3%AA+Plaza+Shopping!5e0!3m2!1spt-BR!2sbr!4v1510869726119" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>     

	 </div>
        
        <div class="mapa">
        	<h3>Mapa do Shopping</h3>
            <div>
            	<img src="/imagens/shopping-tps.svg" class="img" title="Shopping cidade São Paulo">
            </div>            
        </div>
		
		 <div class="clear"></div>
        
<!--     
	 <div class="contato">   
       	<h2>Fale Conosco</h2> 
       <p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
			que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>onstores@tieteplazashopping.com.br</strong></p>   
		<form method="POST" action=""  onSubmit="return checkform_informacoes(this);">
          <div class="ctc">
                <div class="campos100">
                    <input name="nome" type="text" value="" placeholder=" Nome ">
                </div>
                
                <div class="campos100">
                    <input name="email" type="text" value="" placeholder=" E-mail ">
                </div>
                
                <div class="campos100">
                    <input name="telefone" type="text" value="" placeholder=" Telefone ">
                </div>
                
                <div class="campos100">
                    <input name="tipo" type="text" value="" placeholder=" Tipo de Atendimento ">
                </div>
            
          </div>
          
          <div class="ctc">
                <div class="campos100">
                   <textarea name="mensagem" rows="4" cols="50" placeholder=" Mensagem "></textarea>
                </div>
              
               <input type="submit" value=" Enviar ">
			   <input type="hidden" name="_csrf" value="<%= csrfToken %>">	
          
          </div>
   
   		<div class="linkcont">
        	<a href="http://vagas.intranetmall.com.br/tieteplazashopping/" target="_blank">Trabalhe Conosco</a>
            <a href="https://im.intranetmall.com.br/tieteplazashopping/" target="_blank">Portal do Lojista</a>
        </div>
		
	</div>-->
		
		</form>
        

