<% layout("../layout/index") -%>
<% block("title", "Adicionar Produto"); -%>
<h1>Carrinho - Adicionar Produto</h1>
<p>Como os produtos são retirados no Shopping, não é possível adicionar produtos de shoppings diferentes</p>
<p>Por favor revise o seu pedido!</p>