<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Lojas | Nome do Shopping | Nome da Loja"); -%>

 <div class="full">

    

        <aside class="bannerint">

        	<img src="//imagens/bannerloja.jpg" width="1366" height="285" title="Loja online">

           <!-- <section>Lojas</section>-->

            <div class="thumb"><img src="//imagens/thumb-loja.jpg" class="img"></div>

        </aside> <!--banner-->

   

  <article id="conteudo" class="pad">

  	<a href="lojas.php" class="back"><span class="seta-esquerda"></span> Voltar para lojas</a>

    

    <section id="sobre">

    	 <h2><img src="//imagens/icon-fone.jpg" width="39" height="39"> 011. 5567.9809</h2>

         

    		<img src="//imagens/logo.png" class="img">

    		<h3>Sobre a marca</h3>

            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos </p>

            

    </section>

  

    <section class="location">

      <h2><img src="//imagens/location.png" width="25" height="34"> Onde encontrar</h2>

        

      <div class="mleft">

       	<a class="buttons" id="map1"> Shopping Cidade São Paulo</a>

        <a class="buttons" id="map2"> Shopping Tietê Plaza</a>

        <a class="buttons" id="map3"> Shopping Grand Plaza</a>

      </div>

        

        <div class="mright">

            <!---este mapa precisamos pegar a mesma programção do ivan que puxa o svg e print a loja marcada---->

            <div class="maps map1">

            		<div style="position:absolute; top:150px; left:90px; z-index:100">

                        <div class="pin"></div>

                        <div class="pulse"></div>

                    </div>

           		 <img src="//imagens/mapa.jpg" class="img">

            </div>

            <div class="maps map2">

            		<div style="position:absolute; top:150px; left:250px; z-index:100">

                        <div class="pin"></div>

                        <div class="pulse"></div>

                    </div>

            	<img src="//imagens/mapa.jpg" class="img">

            </div>

            <div class="maps map3">

            	<div style="position:absolute; top:150px; left:480px; z-index:100">

                        <div class="pin"></div>

                        <div class="pulse"></div>

                    </div>

            	<img src="//imagens/mapa.jpg" class="img"> 

            </div> 

            

        </div><!--mright-->

       <div class="piso">Piso Térreo</div>

       

        

    </section>

  

  </article> 

   

  

   <div id="more">

    

   		<h3 class="titles">

       		<span class="twhite" style="left: 13%;">Veja também</span>

        </h3>

        

        <div class="clear"></div><br><br>

        

        <a href="detalhe-produto.php" class="prods">

        <section>

                <div class="favs">

                    <span>30%</span>

                    <button value="" id=""></button>

                </div>

                <img src="//imagens/sapato.jpg" title="nome do Produto" class="img">

                <h2>Arezzo</h2>

                <div class="shop">Shopping Cidade São Paulo</div>

                <h3>Sapato Oxford Feminino Facinelli</h3>

                <div class="valor">

                    <span>De R$ 35,40</span>

                    <span>Por 20,00</span>

                </div>

           </section>  

  		 </a> 

   

        <a href="detalhe-produto.php" class="prods">

            <section>

                <div class="favs">

                    <span>30%</span>

                    <button value="" id=""></button>

                </div>

                <img src="//imagens/sapato.jpg" title="nome do Produto" class="img">

                <h2>Arezzo</h2>

                <div class="shop">Shopping Cidade São Paulo</div>

                <h3>Sapato Oxford Feminino Facinelli</h3>

                <div class="valor">

                    <span>De R$ 35,40</span>

                    <span>Por 20,00</span>

                </div>

           </section>  

       </a> 

   

        <a href="detalhe-produto.php" class="prods">

            <section>

                <div class="favs">

                    <span>30%</span>

                    <button value="" id=""></button>

                </div>

                <img src="//imagens/sapato.jpg" title="nome do Produto" class="img">

                <h2>Arezzo</h2>

                <div class="shop">Shopping Cidade São Paulo</div>

                <h3>Sapato Oxford Feminino Facinelli</h3>

                <div class="valor">

                    <span>De R$ 35,40</span>

                    <span>Por 20,00</span>

                </div>

           </section>  

       </a> 

        <a href="detalhe-produto.php" class="prods">

            <section>

                <div class="favs">

                    <span>30%</span>

                    <button value="" id=""></button>

                </div>

                <img src="//imagens/sapato.jpg" title="nome do Produto" class="img">

                <h2>Arezzo</h2>

                <div class="shop">Shopping Cidade São Paulo</div>

                <h3>Sapato Oxford Feminino Facinelli</h3>

                <div class="valor">

                    <span>De R$ 35,40</span>

                    <span>Por 20,00</span>

                </div>

           </section>  

       </a>         

       

       <div class="clear"></div><br><br>

       <a href="" class="botao">Carregar mais</a>

               

    <div class="clear"></div>

    </div><!--MORE-->

  

  

    

 </div><!--full-->



<!------------------Fim produtos---------------------->



