<% layout("../layout/index") -%>
<% block("title", "ON STORES | Serviços | Nome do Shopping"); -%>
  <div class="full">

    

        <aside class="sembanner">

        	<h1 class="titles">

        		<span class="tgrey" style="left:25%">Serviços</span>

        	</h1>

        </aside> <!--banner-->

  



<div class="filtroservice content">

   	<form action="" class="service">    	

        

        <div>

        	<label>O que você procura?</label>

            <input type="text" value="" placeholder="">

        </div>

         <div>

        	<label>Categoria</label>

            <select class="minimal aumenta">

            	<option>Todas</option>

                <option>Categoria 1</option>

                <option>Categoria 2</option>

                <option>Categoria 3</option>

            </select>

        </div>



    </form>

   </div>   



       

 <!------------------Lojas---------------------->  



   <div id="servicos">   

   	

    	<div class="serv">

            <img src="/imagens/eventos.jpg" title="Nome do evento"> 

            <h2>Descrição do serviço</h2>

            <div class="lineserv"></div>

            <span> <img src="/imagens/icon-fone.jpg" width="39" height="39"> 011. 5567.7890</span>

            <span><img src="/imagens/icon-location.jpg" width="39" height="39">  Piso Térreo</span>

            <p> Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard. Texto do conteudo menor que vem do dashboard.asasdasdasdasdasdas</p>

            

        </div>

        

       <div class="serv">

            <img src="/imagens/eventos.jpg" title="Nome do evento"> 

            <h2>Descrição do serviço</h2>

            <div class="lineserv"></div>

            <span> <img src="/imagens/icon-fone.jpg" width="39" height="39"> 011. 5567.7890</span>

            <span><img src="/imagens/icon-location.jpg" width="39" height="39">  Piso Térreo</span>

            <p> Texto do conteudo menor que vem do dashboard.</p>

            

        </div>

        

        <div class="serv">

            <img src="/imagens/eventos.jpg" title="Nome do evento"> 

            <h2>Descrição do serviço</h2>

            <div class="lineserv"></div>

            <span> <img src="/imagens/icon-fone.jpg" width="39" height="39"> 011. 5567.7890</span>

            <span><img src="/imagens/icon-location.jpg" width="39" height="39">  Piso Térreo</span>

            <p> Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard.</p>

            

       </div>

        

        <div class="serv">

            <img src="/imagens/eventos.jpg" title="Nome do evento"> 

            <h2>Descrição do serviço</h2>

            <div class="lineserv"></div>

            <span> <img src="/imagens/icon-fone.jpg" width="39" height="39"> 011. 5567.7890</span>

            <span><img src="/imagens/icon-location.jpg" width="39" height="39">  Piso Térreo</span>

            <p> Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard. Texto do conteudo menor que vem do dashboard.asasdasdasdasdasdas</p>

            

       </div>

       

       <div class="serv">

            <img src="/imagens/eventos.jpg" title="Nome do evento"> 

            <h2>Descrição do serviço</h2>

            <div class="lineserv"></div>

            <span> <img src="/imagens/icon-fone.jpg" width="39" height="39"> 011. 5567.7890</span>

            <span><img src="/imagens/icon-location.jpg" width="39" height="39">  Piso Térreo</span>

            <p> Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard. Texto do conteudo menor que vem do dashboard.asasdasdasdasdasdas</p>

            

        </div>

        

       <div class="serv">

            <img src="/imagens/eventos.jpg" title="Nome do evento"> 

            <h2>Descrição do serviço</h2>

            <div class="lineserv"></div>

            <span> <img src="/imagens/icon-fone.jpg" width="39" height="39"> 011. 5567.7890</span>

            <span><img src="/imagens/icon-location.jpg" width="39" height="39">  Piso Térreo</span>

            <p> Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard.Texto do conteudo menor que vem do dashboard. Texto do conteudo menor que vem do dashboard.asasdasdasdasdasdas</p>

            

        </div>

  

      	



   

   </div><!--produtos--> 

 </div><!--full-->



<!------------------Fim produtos---------------------->