<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Cupons " + nome_do_shopping_barra_titulo + " | Nome do cupon"); -%>
<div class="full">
    
  <article id="conteudo">
  	
    <!---foto---->
    <section class="detail">
       
        <div id="foto">
            <div><img src="/imagens/chapeu.jpg" class="img"></div>
        </div><!--foto-->
         
    </section> 
    
     <!---infos cores, tamanho, shopping---->
    <div id="info">
     <form action="">
       	<div class="compartilha"><img src="/imagens/compartilha.png" width="30" height="30"></div> 
        <p>FARM</p> 
        <p>Shopping Cidade São Paulo</p>
        <br> <br>
        <h1>Chapéu inverno preto casual
        <div class="pline"></div>
        </h1>   
     	<div class="preco">
           <span>De: R$ 35,40</span>
           <span>Por: 20,00</span>
         </div> 
         <br><br>
         <input type="submit" value=" Adicionar à sacola ">         
   	</form>
   </div><!--info-->
    
     <!---Descrição---->
     
     <section id="descricao">
     
     
     	<h2>Descrição do Cupom</h2>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
  
        
     </section>
    
    <div id="more">
    
   		<h3 class="titles">
       		<span class="twhite" style="left: 13%;">Veja também</span>
        </h3>
        
        <div class="clear"></div><br><br>
        
        <a href="/produtos/teste/" class="prods">
        <section>
                <div class="favs">
                    <span>30%</span>
                    <button value="" id=""></button>
                </div>
                <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                <h2>Arezzo</h2>
                <div class="shop">Shopping Cidade São Paulo</div>
                <h3>Sapato Oxford Feminino Facinelli</h3>
                <div class="valor">
                    <span>De R$ 35,40</span>
                    <span>Por 20,00</span>
                </div>
           </section>  
  		 </a> 
   
        <a href="/produtos/teste" class="prods">
            <section>
                <div class="favs">
                    <span>30%</span>
                    <button value="" id=""></button>
                </div>
                <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                <h2>Arezzo</h2>
                <div class="shop">Shopping Cidade São Paulo</div>
                <h3>Sapato Oxford Feminino Facinelli</h3>
                <div class="valor">
                    <span>De R$ 35,40</span>
                    <span>Por 20,00</span>
                </div>
           </section>  
       </a> 
   
        <a href="/produtos/teste" class="prods">
            <section>
                <div class="favs">
                    <span>30%</span>
                    <button value="" id=""></button>
                </div>
                <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                <h2>Arezzo</h2>
                <div class="shop">Shopping Cidade São Paulo</div>
                <h3>Sapato Oxford Feminino Facinelli</h3>
                <div class="valor">
                    <span>De R$ 35,40</span>
                    <span>Por 20,00</span>
                </div>
           </section>  
       </a> 
        <a href="/produtos/teste" class="prods">
            <section>
                <div class="favs">
                    <span>30%</span>
                    <button value="" id=""></button>
                </div>
                <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                <h2>Arezzo</h2>
                <div class="shop">Shopping Cidade São Paulo</div>
                <h3>Sapato Oxford Feminino Facinelli</h3>
                <div class="valor">
                    <span>De R$ 35,40</span>
                    <span>Por 20,00</span>
                </div>
           </section>  
       </a>         
       
       <div class="clear"></div><br><br>
       <a href="/cupons" class="botao">Ver todas as promoções</a>
               
    <div class="clear"></div>
    </div><!--MORE-->
     
  </article> <!--conteudo-->

 </div><!--full-->


