<% layout("../layout/index") -%>
<% block("title", "Resultados da Busca"); -%>


<div id="busca">
            <a href="" id="lupa" class="fechar">X</a>
                <form action="">
                	<input type="text" value="" placeholder=" buscar aqui">
                </form>
              
              <div id="result">
              
                
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>
                                <button value="" id=""></button>
                            </div>
                            <img src="imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>
                                <button value="" id=""></button>
                            </div>
                            <img src="imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>

                                <button value="" id=""></button>
                            </div>
                            <img src="imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>
                                <button value="" id=""></button>
                            </div>
                            <img src="imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>
                                <button value="" id=""></button>
                            </div>
                            <img src="imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   
                   
               <div class="clear"></div>
               </div>  <!--result-->
                
	</div><!--busca-->