<% layout("../layout/index") -%>
<% block("title", "Contato"); -%>


<div class="full">
    
        <aside class="sembanner">
        	<h1 class="titles">
        		<span class="tgrey" style="left:25%">Contato</span>
        	</h1>
        </aside> <!--banner-->
  
 <!------------------Lojas---------------------->  
	<div class="clear"></div><br>
    
    <form method="POST" action=""  onSubmit="return checkform_contato(this);">	
   <div class="contato">   
       	<h2>Fale Conosco</h2> 
        <%	
		if (shopping == ''){ 
		%>
       	<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
		que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>contato@onstores.com.br</strong></p>
		<%
		} else{
		%>
			<%
			if (shopping == "grand_plaza_shopping"){ 
			%>
				<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
				que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>**contato@onstores.com.br</strong></p>
			<%
			}		
			if (shopping == "tiete_plaza_shopping"){ 
			%>
				<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
				que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>**contato@onstores.com.br</strong></p>
			<%
			}
			if (shopping == "shopping_cerrado"){ 
			%>
				<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
				que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>**contato@onstores.com.br</strong></p>
			<%
			}
			if (shopping == "shopping_metropolitano_barra"){ 
			%>
				<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
				que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>**contato@onstores.com.br</strong></p>
			<%
			}
			if (shopping ==  "shopping_cidade_sao_paulo"){ 
			%>
				<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
				que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>**contato@onstores.com.br</strong></p>
			<%
			}
			if (shopping == "shopping_d"){ 
			%>
				<p>Precisa tirar alguma dúvida específica ou possui alguma sugestão? Envie sua mensagem para a central de relacionamento do ON.STORES 
				que nossa equipe entrará em contato rapidamente com você. Ou se quiser entre em contato <strong>**contato@onstores.com.br</strong></p>
			<%
			}
			%>
		<%	
		}
		%>
		
        <div class="ctc">
            <div class="campos100">
                <input type="text" value="" placeholder=" Nome " name="nome">
            </div>
            
            <div class="campos100">
                <input type="text" value="" placeholder=" E-mail " name="email">
            </div>
            
            <div class="campos100">
                <input type="text" value="" placeholder=" Telefone " name="telefone">
            </div>
            
            <div class="campos100">
                <input type="text" value="" placeholder=" Tipo de Atendimento " name="tipo">
            </div>
            
          </div><!--ctc-->
          
          <div class="ctc">
          	<div class="campos100">
               <textarea rows="4" cols="50" placeholder=" Mensagem " name="mensagem"></textarea>
            </div>
          
          <input type="submit" value=" Enviar ">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </div><!--ctc-->
   
   <div class="clear"></div>
   </div><!--contato--> 
   </form>
   
 </div><!--full-->