<% layout("../layout/index") -%>
<% block("title", "ON STORES | Newsletter | Nome do Shopping"); -%>

<div class="full">
    
        <aside class="sembanner">
        	<h1 class="titles" style="width:410px">
        		<span class="tgrey" style="left:12%">Newsletter</span>
        	</h1>
        </aside> <!--banner-->
  

    <article id="conteudo">
    	
        <section class="termos">
        	<h2>Obrigado por cadastras o seu e-mail!</h2>
            
        </section><!--termos-->
    
    
    </article>
 
 </div><!--full-->



