<% layout("../layout/index") -%>
<% block("title", "ON STORES | Termos | Nome do Shopping"); -%>

<div class="full">
    
        <aside class="sembanner">
        	<h1 class="titles" style="width:410px">
        		<span class="tgrey" style="left:12%">Termos e Condições</span>
        	</h1>
        </aside> <!--banner-->
  

    <article id="conteudo">
    	
        <section class="termos">
        	<h2>ON STORES - Termos e condições</h2>
          
           <iframe style="overflow:auto; width:100%; height:480px;" src="/termos_e_condicoes-usuarios.html"></iframe>
            
        </section><!--termos-->
    
	<div class="clear"></div><br>
	
        <div id="more">
   		<h3 class="titles">
       		<span class="twhite" style="left: 22%;">Veja mais</span>
        </h3>
        <div class="clear"></div><br><br>
        <a href="/produtos/teste" class="prods">
            <section>
                <div class="favs">
                    <span>30%</span>
                    <button value="" id=""></button>
                </div>
                <img src="imagens/sapato.jpg" title="nome do Produto" class="img">
                <h2>Arezzo</h2>
                <div class="shop">Shopping Cidade São Paulo</div>
                <h3>Sapato Oxford Feminino Facinelli</h3>
                <div class="valor">
                    <span>De R$ 35,40</span>
                    <span>Por 20,00</span>
                </div>
           </section>  
  		 </a> 
   
    <a href="/produtos/teste" class="prods">
        <section>
        	<div class="favs">
            	<span>30%</span>
                <button value="" id=""></button>
            </div>
       		<img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
            <h2>Arezzo</h2>
            <div class="shop">Shopping Cidade São Paulo</div>
            <h3>Sapato Oxford Feminino Facinelli</h3>
            <div class="valor">
            	<span>De R$ 35,40</span>
                <span>Por 20,00</span>
            </div>
       </section>  
   </a> 
   
    <a href="/produtos/teste" class="prods">
        <section>
        	<div class="favs">
            	<span>30%</span>
                <button value="" id=""></button>
            </div>
       		<img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
            <h2>Arezzo</h2>
            <div class="shop">Shopping Cidade São Paulo</div>
            <h3>Sapato Oxford Feminino Facinelli</h3>
            <div class="valor">
            	<span>De R$ 35,40</span>
                <span>Por 20,00</span>
            </div>
       </section>  
   </a> 
    <a href="/produtos/teste" class="prods">
        <section>
        	<div class="favs">
            	<span>30%</span>
                <button value="" id=""></button>
            </div>
       		<img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
            <h2>Arezzo</h2>
            <div class="shop">Shopping Cidade São Paulo</div>
            <h3>Sapato Oxford Feminino Facinelli</h3>
            <div class="valor">
            	<span>De R$ 35,40</span>
                <span>Por 20,00</span>
            </div>
       </section>  
   </a>         
        
    </div><!--more-->
    
    </article>
 
 </div><!--full-->



