<% layout("../layout/index") -%>
<% block("title", "ON STORES | Termos | Nome do Shopping"); -%>

<div class="full">
    
        <aside class="sembanner">
        	<h1 class="titles" style="width:410px">
        		<span class="tgrey" style="left:12%">Termos e Condições</span>
        	</h1>
        </aside> <!--banner-->
  

    <article id="conteudo">
    	
        <section class="termos">
        	<h2>ON STORES - Termos e condições</h2>
          
           <iframe style="overflow:auto; width:100%; height:480px;" src="/termos_e_condicoes-usuarios.html"></iframe>
            
        </section><!--termos-->
    

    </article>
 
 </div><!--full-->



