<% layout("../layout/index") -%>
<% block("title", "ON STORES | O Market Place da CCP para você!"); -%>


    <div class="full">

    

        <div class="banner">

           <div class="container">

              <div id="owl-demo" class="owl-carousel">

                

                <div class="item">

                	<img src="banner/banner.jpg" title="Nome do banner">

                	<section>

                        <span>30% OFF</span>

                        <span>Chubby <br>Diamond <br>Look</span>

                        <span>MR CAT</span>

                    </section>

                </div>

                <div class="item">

                	<img src="banner/banner.jpg" title="Nome do banner">

                	<section>

                        <span>30% OFF</span>

                        <span>Chubby <br>Diamond <br>Look</span>

                        <span>MR CAT</span>

                    </section>

                </div>

                <div class="item">

                	<img src="banner/banner.jpg" title="Nome do banner">

                	<section>

                        <span>30% OFF</span>

                        <span>Chubby <br>Diamond <br>Look</span>

                        <span>MR CAT</span>

                    </section>

                </div>

                 

            

              </div><!--owl demo-->

           </div><!--container-->    

        </div> <!--banner-->

        

        

  <!------------------produtos---------------------->

  

    <h1 class="cab-on">

   	  <img src="imagens/onstores.png" width="82" height="90" title="ON Stores"> 

      <p>Compre agora e retire no Shopping nos próximos 30 minutos.</p>

    </h1>

   <div id="produtos">   

   <a href="/produtos/teste" class="prods">

        <section>

        	<div class="favs">

            	<span>30%</span>

                <button value="" id=""></button>

            </div>

            

       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">

            <h2>Arezzo</h2>

            <div class="shop">Shopping Cidade São Paulo</div>

            <h3>Sapato Oxford Feminino Facinelli</h3>

            <div class="valor">

            	<span>De R$ 35,40</span>

                <span>Por 20,00</span>

            </div>

       </section>  

   </a> 

   

   <a href="/produtos/teste" class="prods">

        <section>

        	<div class="favs">

            	<span>30%</span>

                <button value="" id=""></button>

            </div>

            

       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">

            <h2>Arezzo</h2>

            <div class="shop">Shopping Cidade São Paulo</div>

            <h3>Sapato Oxford Feminino Facinelli</h3>

            <div class="valor">

            	<span>De R$ 35,40</span>

                <span>Por 20,00</span>

            </div>

       </section>  

   </a> 

   

   <a href="/produtos/teste" class="prods">

        <section>

        	<div class="favs">

            	<span>30%</span>

                <button value="" id=""></button>

            </div>

       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">

            <h2>Arezzo</h2>

            <div class="shop">Shopping Cidade São Paulo</div>

            <h3>Sapato Oxford Feminino Facinelli</h3>

            <div class="valor">

            	<span>De R$ 35,40</span>

                <span>Por 20,00</span>

            </div>

       </section>  

   </a> 

   

   <a href="/produtos/teste" class="prods">

        <section>

        	<div class="favs">

            	<span>30%</span>

                <button value="" id=""></button>

            </div>

       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">

            <h2>Arezzo</h2>

            <div class="shop">Shopping Cidade São Paulo</div>

            <h3>Sapato Oxford Feminino Facinelli</h3>

            <div class="valor">

            	<span>De R$ 35,40</span>

                <span>Por 20,00</span>

            </div>

       </section>  

   </a> 

   

    <a href="/produtos/teste" class="prods">

        <section>

        	<div class="favs">

            	<span>30%</span>

                <button value="" id=""></button>

            </div>

       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">

            <h2>Arezzo</h2>

            <div class="shop">Shopping Cidade São Paulo</div>

            <h3>Sapato Oxford Feminino Facinelli</h3>

            <div class="valor">

            	<span>De R$ 35,40</span>

                <span>Por 20,00</span>

            </div>

       </section>  

   </a> 

   

   

    <a href="/produtos/teste" class="prods">

        <section>

        	<div class="favs">

            	<span>30%</span>

                <button value="" id=""></button>

            </div>

       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">

            <h2>Arezzo</h2>

            <div class="shop">Shopping Cidade São Paulo</div>

            <h3>Sapato Oxford Feminino Facinelli</h3>

            <div class="valor">

            	<span>De R$ 35,40</span>

                <span>Por 20,00</span>

            </div>

       </section>  

   </a> 

   

    <a href="/produtos/teste" class="prods">

        <section>

        	<div class="favs">

            	<span>30%</span>

                <button value="" id=""></button>

            </div>

       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">

            <h2>Arezzo</h2>

            <div class="shop">Shopping Cidade São Paulo</div>

            <h3>Sapato Oxford Feminino Facinelli</h3>

            <div class="valor">

            	<span>De R$ 35,40</span>

                <span>Por 20,00</span>

            </div>

       </section>  

   </a> 

   

    <a href="/produtos/teste" class="prods">

        <section>

        	<div class="favs">

            	<span>30%</span>

                <button value="" id=""></button>

            </div>

       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">

            <h2>Arezzo</h2>

            <div class="shop">Shopping Cidade São Paulo</div>

            <h3>Sapato Oxford Feminino Facinelli</h3>

            <div class="valor">

            	<span>De R$ 35,40</span>

                <span>Por 20,00</span>

            </div>

       </section>  

   </a>

   

   </div><!--produtos--> 

 </div><!--full-->



<!------------------Fim produtos---------------------->





<!-------------------- Categorias--------------------->



<article id="categorias">

	<div class="full">

        <h4 class="titles">

       		<span class="tgrey">Categorias</span>

        </h4>

        <p class="sub-title"> simplesmente uma simulação de texto da indústria tipográfica e de impressos,

         e vem sendo utilizado desde o século XVI</p>

            <section class="cat">

                <a href="">

                    <img src="imagens/cat-feminino.png" class="img" title="Feminino">

                    <span>Feminino</span>

                </a>	

            </section>

            <section class="cat">

                <a href="">

                    <img src="imagens/cat-masculino.png" class="img" title="Feminino">

                    <span>Maculino</span>

                </a>	

            </section>

            <section class="cat">

                <a href="">

                    <img src="imagens/cat-infantil.png" class="img" title="Feminino">

                    <span>Infantil</span>

                </a>	

            </section>

            <section class="cat">

                <a href="">

                    <img src="imagens/cat-esporte.png" class="img" title="Feminino">

                    <span>Esporte</span>

                </a>	

            </section>

    </div>		 

</article>

<!--------------------Fim  Categorias--------------------->



<!--------------------Shoppings--------------------------->

<article id="shoppings">

	<div class="full">

    	<h5 class="titles">

        	<span class="twhite">Shoopings</span>

        </h5>

        <p class="sub-title"> simplesmente uma simulação de texto da indústria tipográfica e de impressos,

         e vem sendo utilizado desde o século XVI</p>

         

      	<a href="" class="mall">

         	<div>

            	<span class="purple"></span>

   	     		<img src="imagens/teste.jpg" class="img" title="Nome do Shopping">

                <p>Cidade <br>São Paulo</p>

       		</div>	

      	</a>

        

        <a href="" class="mall">

         	<div>

            	<span class="purple"></span>

   	     		<img src="imagens/teste.jpg" class="img" title="Nome do Shopping">

                <p>Tiête <br> Plaza</p>

       		</div>	

      	</a>

        

        <a href="" class="mall">

         	<div>

            	<span class="purple"></span>

   	     		<img src="imagens/teste.jpg" class="img" title="Nome do Shopping">

                <p>Grand<br> Plaza</p>

       		</div>	

      	</a>

        

        <a href="" class="mall">

         	<div>

            	<span class="purple"></span>

   	     		<img src="imagens/teste.jpg" class="img" title="Nome do Shopping">

                <p>Shopping<br> D</p>

       		</div>	

      	</a>

        

        <a href="" class="mall">

         	<div>

            	<span class="purple"></span>

   	     		<img src="imagens/teste.jpg" class="img" title="Nome do Shopping">

                <p>Shooping<br> Cerrado</p>

       		</div>	

      	</a>

        

        <a href="" class="mall">

         	<div>

            	<span class="purple"></span>

   	     		<img src="imagens/teste.jpg" class="img" title="Nome do Shopping">

                <p>Metropolitano<br> da Barra</p>

       		</div>	

      	</a>

         

    </div><!--full-->

</article>

<!--------------------Fim  Shoppings--------------------->

