<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Promoções | "); -%>

 <div class="full">

    

      <aside class="bannerint">

        	<img src="/imagens/bannerloja.jpg" class="img" title="Promoções do Shopping">

            <section>Promoções do Shopping</section> 

        </aside> <!--banner-->

   

  <article id="conteudo" class="pad">

  	<a href="/promocoes" class="back"><span class="seta-esquerda"></span> Voltar para promoção</a>

    

    <div class="titevents">

    	<h1>Promoção dia das mães</h1>

    	<p>Início <span>20/08/2017</span> </p> <p> Término <span>23/08/2017</span></p>

    </div>

    

    <div class="clear"></div><br><br>

    

    <section id="sobrepromo">

   		<h2>Descrição da Promoção</h2>

        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>

        <p>Acesse os <a href="termos.php">termos e condições</a></p>    

    </section>

  

    <section class="fotopromo">

      <!--<h2> Horários</h2>-->

       <img src="/imagens/promo1.png" class="img" title="Promoção dia das mães">

		<div class="clear"></div><br><br>

        

    </section>

  

  </article> 

   

  

   <div id="more">

    <div class="full">

   		<h3 class="titles" >

       		<span class="twhite" style="left: 20%">Veja Mais</span>

        </h3>

         <a href="/promocoes/promocao/promocao_dia" class="promo">
         	<div>
            	<span class="purple"></span>
   	     		<img src="/imagens/promo1.png" class="img" title="Promoção dia das mães">
                <p>Promoção dia<br> das mães</p>
       		</div>	
      	</a>
        
        <a href="/promocoes/promocao/promocao_programa_completo" class="promo">
         	<div>
            	<span class="purple"></span>
   	     		<img src="/imagens/promo2.png" class="img" title="Promoção Programa Completo">
                <p>Promoção Programa Completo</p>
       		</div>	
      	</a>

        <div class="clear"></div><br><br>

        

       <div class="clear"></div><br><br>

       <!--
	   <a href="" class="botao">Carregar mais</a>
	   -->

               

    <div class="clear"></div>

    </div><!--full-->

    </div><!--MORE-->

  

  

    

 </div><!--full-->

