<% layout("../layout/index") -%>
<% block("title", "ON STORES | Minhas Compras "); -%>
	<div class="fach"></div>

   <div class="full">

    	

        <div id="conteudo">

        

			<%-partial("lateral")%>
            

          <div class="area">

           	<h1>Minhas Compras <img src="imagens/bag.png" width="30" height="30"></h1>

           	  <h2><img src="imagens/icon-calendar.jpg" width="36" height="33"> últimos 30 dias</h2>

          

          <div class="clear"></div><br>

          <table border="0" cellpadding="0" cellspacing="0" class="ped">

              <tr>

                <th>Pedido</th>

                <th>Data</th>

                <th>Valor</th>

              </tr>

              <tr>

                <td><a href="/compras/detalhes/teste">#12345567</a></td>

                <td>23/08/2017</td>

                <td>R$ 150,00</td>

              </tr>

              <tr>

                <td><a href="/compras/detalhes/teste">#12345567</a></td>

                <td>23/08/2017</td>

                <td>R$ 150,00</td>

              </tr>

              <tr>

                <td><a href="/compras/detalhes/teste">#12345567</a></td>

                <td>23/08/2017</td>

                <td>R$ 150,00</td>

              </tr>

               <tr>

                <td><a href="/compras/detalhes/teste">#12345567</a></td>

                <td>23/08/2017</td>

                <td>R$ 150,00</td>

              </tr>

               <tr>

                <td><a href="/compras/detalhes/teste">#12345567</a></td>

                <td>23/08/2017</td>

                <td>R$ 150,00</td>

              </tr>

        </table>

          

          

          </div><!--area-->

        

        



        

        

     </div><!--conteudo-->

   

   </div><!--produtos--> 

 </div><!--full-->



<!------------------Fim produtos---------------------->