<% layout("../layout/index") -%>
<% block("title", "ON STORES | Minhas Compras | Detalhe Pedido"); -%>
<div class="fach"></div>

   <div class="full">

    	

        <div id="conteudo">

        

        	<%-partial("lateral")%>

            

      <div class="area">

        <h1>Minhas Compras <img src="/imagens/bag.png" width="30" height="30"></h1>

        <h2>Detalhe do Pedido</h2>

      

      	<a href="/compras" class="voltar"><span class="seta-esquerda"></span> Voltar </a>

      

      	<section>

        

        <table class="det">

             <tr>

                <th>

                	<span>Pedido</span>

                	<br>

                  	<strong>#765890 </strong>

                </th>

                <th>&nbsp;</th>

                <th colspan="5" rowspan="3" align="center" valign="middle"><p align="center"><img src="/imagens/qrcode.jpg" width="155" height="170"></p></th>

            </tr>

             <tr>

                <td><span>Data</span><br>23/08/2017</td>

                <td><span>Horario de retirada</span><br> 15:00hs</td>

            </tr>

            <tr>

                <td><span>Forma de pagamento</span><br> Mastercard **********345</td>

                <td><span>Token</span><br>  000 000 000 </td>

                </tr>

             <tr>

                <td colspan="7">

                <div></div>

                </td>               

              </tr>

              <tr>

                <td colspan="7"><b>Itens comprados</b></td>

              </tr>

              <tr class="lin">

                <td>Chapéu de inverno preto aveludado</td>

                <td>Shoppig Cidade São Paulo</td>

                <td>FARM</td>

                <td>Cor Azul</td>

                <td>Tamanho P</td>

                <td>01 Unidade(s)</td>

                <td>R$ 150,00</td>

              </tr>

              <tr>

                <td colspan="7">

                <div class="lin"></div>

                </td>               

              </tr>

              <tr>

                <td>Chapéu de inverno preto aveludado</td>

                <td>Shoppig Cidade São Paulo</td>

                <td>FARM</td>

                <td>Cor Azul</td>

                <td>Tamanho P</td>

                <td>01 Unidade(s)</td>

                <td>R$ 150,00</td>

              </tr>

        </table>

        

       <div class="clear"></div>

        </section>

     

      

      

      </div><!--area-->

        

        



        

        

     </div><!--conteudo-->

   

   </div><!--produtos--> 

 </div><!--full-->



<!------------------Fim produtos---------------------->


