<section class="lateral">            	

    <div class="boc">

        <span><%=letras%></span>

        <p><%=usuario%></p>

    </div>

    

    <a href="/compras" class="ink">

        Minhas Compras

    </a>

    

     <a href="/favoritos" class="ink">

        Meus Favoritos

    </a>

    

     <a href="/configuracoes" class="ink">

        Configurações

    </a>

            

</section>