<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Cinema | Nome do Shopping"); -%>
<div class="full">

    

         <div class="banner">

           <div class="container">

              <div id="owl-demo" class="owl-carousel">

                

                <div class="item">

                	<img src="/banner/cinema.jpg" title="Nome do banner">

                	<section>

                        <span>20 de agosto</span>

                        <span>Mulher<br> Maravilha</span>

                        <span>Shopping Cidade SP</span>

                    </section>

                </div>

                <div class="item">

                	<img src="/banner/cinema.jpg" title="Nome do banner">

                	<section>

                        <span>20 de agosto</span>

                        <span>Mulher<br> Maravilha</span>

                        <span>Shopping Cidade SP</span>

                    </section>

                </div>

                 

            

              </div><!--owl demo-->

           </div><!--container-->    

        </div> <!--banner-->

   

   <div class="filtro fgrey" id="cinefilter">

   	<form action="" class="cinefilter">

    	<div>

        	<label>Data</label> 

            <input type="text" value="" placeholder="__/__/____">            

        </div>

        <div>

        	<label>Nome da Loja</label> 

            <input type="text" value="" placeholder="">            

        </div>

                 <div>

        	<label>Categoria</label>

            <select class="minimal">

            	<option>Todas</option>

                <option>Categoria 1</option>

                <option>Categoria 2</option>

                <option>Categoria 3</option>

            </select>

        </div>

        

        <div>

       	<button>Perto de você

        <img src="/imagens/location.png" width="25" height="34">

        </button>

      </div>

      

    </form>

   </div>  <!--filtro-->   

<div id="movies">



     <a href="/cinema/filme/teste" class="filmes">

        <img src="/imagens/filme.jpg"  title="Nome do filme"> 

        <div class="fline"></div>

        <p>Nome do Filme</p>

     </a>

     

      <a href="/cinema/filme/teste" class="filmes">

        <img src="/imagens/filme.jpg"  title="Nome do filme"> 

        <div class="fline"></div>

        <p>Nome do Filme</p>

     </a>

     

      <a href="/cinema/filme/teste" class="filmes">

        <img src="/imagens/filme.jpg"  title="Nome do filme"> 

        <div class="fline"></div>

        <p>Nome do Filme</p>

     </a>

     

      <a href="/cinema/filme/teste" class="filmes">

        <img src="/imagens/filme.jpg"  title="Nome do filme"> 

        <div class="fline"></div>

        <p>Nome do Filme</p>

     </a>

  

 </div><!--moveis-->  



 </div><!--full-->



<!------------------Fim produtos---------------------->