<link rel="stylesheet" type="text/css" href="/source/jquery.fancybox.css" media="screen" />	

	<header>
    	<div class="full">
        	<div id="on"><a href="/"><img src="/imagens/on-stores.png" width="42" height="68" title="ON Stores"></a></div>
            <div id="ccp"><a href=""><img src="/imagens/CCP.png" width="91" height="25" title="ON Stores"></a></div>
			<nav id="menu">
                <ul class="dropdown"> 
				  <!------- Mostrar na do shopping---->
                   <!--<li id="shp"><a href=""><img src="imagens/shopping-cidadesp.png" width="90" height="69" title="Shopping Cidade São Paulo"></a></li>-->
                                     
                   
				   <%
				   if (shopping == ''){
				   %>
				   <!------- Mostrar na visão geral---->
                   <li><a>SHOPPINGS <span class="seta-baixo"></span></a>
                        <ul class="submenu">
							<% 
							if (shoppings.length>0){
							shoppings.forEach(function(resultado) { %>
                            <li><a href="/home/<%=resultado.url_title%>"><%=resultado.title%></a></li>
							<% 
							}); 
							}
							%>
                            
                        </ul>
                    </li>
					<%
					}
					%>
					
                    <li><a href="/lojas/online">LOJA ON LINE</a></li>
                    <li><a href="/lojas">LOJAS</a></li>
                    <li><a href="/cupons">CUPONS</a> </li>
                    
					<%
					if (shopping != ''){
				    %>
						<li><a>ACONTECE <span class="seta-baixo"></span></a>
							<ul class="submenu">
								<li><a href="/eventos">Eventos</a></li>
								<li><a href="/promocoes">Promoções do Shopping</a></li>
							 </ul>
						</li>
						<li><a>LAZER <span class="seta-baixo"></span></a>
							<ul class="submenu">
								<li><a href="/cinema">CINEMA</a> </li>
							 </ul>
						</li>
                    <%
					}
					%>
					
                    
					
					<%
				    if (shopping == ''){
				    %>
                    <!---MOSTRAR SOMENTE NO SITE GERAL ---->
                    <li><a href="/cinema">CINEMA</a> </li>        
                    <li><a href="/eventos">EVENTOS</a> </li>
                    <%
					}
					%>
					
					<%
				    if (shopping != ''){
				    %>
                    <!---MOSTRAR SOMENTE QUANDO TIVER NO SHOPPING ---->
                    <!--li><a href="/servicos">SERVIÇOS</a> </li>-->
                    <%
					}
					%>
                </ul>
       		
                <div class="log">
                    <a href="" class="lupa" id="lupa"><img src="imagens/lupa.png" width="25" height="25" title="Busca"></a>
                    <a class="bt fancybox fancybox.iframe" href="/carrinho"><img src="imagens/bag.png" width="20" height="20" title="Meu Carrinho"> 2</a>
                   
                    <div class="bt" id="conta">
                    
                        <!--mostrar somente logado-->
                        <div class="icon">BA</div>
                           Minha conta <span class="seta-baixo2"></span>
                       
                    </div><!--conta-->
                    
                    <!--acrescentar class conta2 quando logar-->
                       <div id="conta2" class="conta2">
                            <ul class="conta"> 
                                <li><a href="/compras">Minhas Compras</a></li>
                                <li><a href="/favoritos">Meus Favoritos</a></li>
                                <li><a href="/configuracoes">Configurações</a></li>
                                <li><a href="/logout">Sair</a></li>   
                            </ul>
                        </div>
                  
       			</div><!--log-->                
          </nav>
          
      <div id="busca">
            <a href="" id="lupa" class="fechar">X</a>
                <form action="" autocomplete="off">
                	<input type="text" value="" placeholder=" buscar aqui">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
                </form>
              
              <div id="result">
              
                
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>
                                <button value="" id=""></button>
                            </div>
                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>
                                <button value="" id=""></button>
                            </div>
                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>

                                <button value="" id=""></button>
                            </div>
                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>
                                <button value="" id=""></button>
                            </div>
                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   
                   <a href="" class="prods">
                        <section>
                            <div class="favs">
                                <span>30%</span>
                                <button value="" id=""></button>
                            </div>
                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">
                            <h2>Arezzo</h2>
                            <h3>Sapato Oxford Feminino Facinelli</h3>
                            <div class="valor">
                                <span>De R$ 35,40</span>
                                <span>Por 20,00</span>
                            </div>
                       </section>  
                   </a> 
                   
                   
               <div class="clear"></div>
               </div>  <!--result-->
                
	</div><!--busca-->
          
           <div class="clear"></div>
          </div><!--full-->	
 </header>