	<header>

    	<div class="full">

        	<div id="on"><a href="/"><img src="/imagens/on-stores.png" width="42" height="68" title="ON Stores"></a></div>

            <div id="ccp"><a href=""><img src="/imagens/CCP.png" width="91" height="25" title="ON Stores"></a></div>

			<nav id="menu">

                <ul class="dropdown"> 

                    <li><a>SHOPPINGS <span class="seta-baixo"></span></a>

                        <ul class="submenu">

                            <li><a href="">Cidade São Paulo</a></li>

                            <li><a href="">Tietê Plaza</a></li>

                            <li><a href="">Grand Plaza</a></li>

                            <li><a href="">Center D</a></li>

                            <li><a href="">Cerrado</a></li>

                            <li><a href="">Metropolitano Barra</a></li>

                        </ul>

                    </li>

                    <li><a href="/produtos">LOJA ON LINE</a></li>

                    <li><a href="/lojas">LOJAS</a></li>

                    <li><a href="/cupons">CUPONS</a> </li>

                    <li><a href="/cinema">CINEMA</a> </li>

                    <li><a href="/eventos">EVENTOS</a> </li>

                </ul>

       		

                <div class="log">

                    <a href="" class="lupa" id="lupa"><img src="/imagens/lupa.png" width="25" height="25" title="Busca"></a>

                    <a href="" class="bt"><img src="/imagens/bag.png" width="20" height="20" title="Meu Carrinho"> 2</a>

                    <div class="bt" id="conta">

                       Minha conta <span class="seta-baixo2"></span>

                    </div>

                       <div id="conta2">

                            <ul class="conta"> 

                                <li><a href="">Minhas Compras</a></li>

                                <li><a href="">Meus Favoritos</a></li>

                                <li><a href="">Configurações</a></li>

                                <li><a href="">Sair</a></li>

   

                            </ul>

                        </div>

                  

       			</div><!--log-->                

          </nav>

          

            <div id="busca">

            <a href="" id="lupa" class="fechar">X</a>

                <form action="">

                	<input type="text" value="" placeholder=" buscar aqui">

                </form>

              

              <div id="result">

              

                

                   <a href="" class="prods">

                        <section>

                            <div class="favs">

                                <span>30%</span>

                                <button value="" id=""></button>

                            </div>

                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">

                            <h2>Arezzo</h2>

                            <h3>Sapato Oxford Feminino Facinelli</h3>

                            <div class="valor">

                                <span>De R$ 35,40</span>

                                <span>Por 20,00</span>

                            </div>

                       </section>  

                   </a> 

                   

                   <a href="" class="prods">

                        <section>

                            <div class="favs">

                                <span>30%</span>

                                <button value="" id=""></button>

                            </div>

                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">

                            <h2>Arezzo</h2>

                            <h3>Sapato Oxford Feminino Facinelli</h3>

                            <div class="valor">

                                <span>De R$ 35,40</span>

                                <span>Por 20,00</span>

                            </div>

                       </section>  

                   </a> 

                   <a href="" class="prods">

                        <section>

                            <div class="favs">

                                <span>30%</span>



                                <button value="" id=""></button>

                            </div>

                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">

                            <h2>Arezzo</h2>

                            <h3>Sapato Oxford Feminino Facinelli</h3>

                            <div class="valor">

                                <span>De R$ 35,40</span>

                                <span>Por 20,00</span>

                            </div>

                       </section>  

                   </a> 

                   <a href="" class="prods">

                        <section>

                            <div class="favs">

                                <span>30%</span>

                                <button value="" id=""></button>

                            </div>

                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">

                            <h2>Arezzo</h2>

                            <h3>Sapato Oxford Feminino Facinelli</h3>

                            <div class="valor">

                                <span>De R$ 35,40</span>

                                <span>Por 20,00</span>

                            </div>

                       </section>  

                   </a> 

                   

                   <a href="" class="prods">

                        <section>

                            <div class="favs">

                                <span>30%</span>

                                <button value="" id=""></button>

                            </div>

                            <img src="/imagens/sapato.jpg" title="nome do Produto" class="img">

                            <h2>Arezzo</h2>

                            <h3>Sapato Oxford Feminino Facinelli</h3>

                            <div class="valor">

                                <span>De R$ 35,40</span>

                                <span>Por 20,00</span>

                            </div>

                       </section>  

                   </a> 

                   

                   

               <div class="clear"></div>

               </div>  <!--result-->

                

	</div><!--busca-->

          

          

          </div><!--full-->	

 </header>