<div class="row">
	<table border="1" width="100%">
		<tr>
			<td><a href="/home">Página Inicial</a></td>
			<td><a href="/cinema">Cinema</a></td>
			<td><a href="/eventos">Eventos</a></td>
			<td><a href="/lojas">Lojas</a></td>
			<td><a href="/promocoes">Promoções</a></td>
			<td><a href="/servicos">Serviços</a></td>
			<td><a href="/contato">Contato</a></td>
		</tr>
	</table>
</div>