<footer>
<div class="full">
	<p>
      <a href="" target="_blank"><img src="/imagens/icon-face.jpg" width="39" height="39" title="Facebook ON Store"></a>
      <a href="" target="_blank"><img src="/imagens/icon-insta.jpg" width="39" height="39" title="Instagram ON Store"></a>
      <a href="" target="_blank"><img src="/imagens/icon-youtube.jpg" width="39" height="39" title="You Tube ON Store"> </a>     
    </p>
    <p><a href="" target="_blank"><img src="/imagens/CCP.png" width="91" height="25"></a></p>
    <div class="newsletter">
    	<h6>Inscreva-se para saber das novidades</h6>
         <form method="POST" action="/newsletter"  onSubmit="return checkform_cadastro_newsletter(this);"  autocomplete="off">
        	<input type="text" value="" name="email" placeholder="seuemail@email.com.br">
            <input type="submit" value=" Enviar ">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
        </form>        
    <div class="clear"></div>
    </div>
    
    <div id="navigation">
    

            <ul class="rodape"> 
                    <li><a>Escolha Seu Shopping  <span class="seta-baixo3"></span></a></li>
                    <li><a>Formas de pagamento  <span class="seta-baixo3"></span> </a></li>
                    <li><a>Certificado de Segurança  <span class="seta-baixo3"></span></a></li>
                    <li><a>Alguma Dúvida <span class="seta-baixo3"></span></a></li>
          </ul>
          
          
    
    </div><!--navigation-->

    <div class="copy">Copyright On Stores 2017®</div>
    
   <div id="toTop"><img src="/imagens/bt-topo.png" width="32" height="32" /></div> 
   </div> 
</footer>


<script type="text/javascript" src="/source/jquery.fancybox.js"></script>

<script src="/js/owl.carousel.js"></script>
<script src="/js/on.js"></script>
<script src="/js/ccp.js"></script>
<script src="/js/jquery.maskedinput.2015.js"></script>
