<footer>
<div class="full">
	<p class="icons">
      <a href="" target="_blank" title="Facebook"><img src="/imagens/facebook.png" class="img" title="Facebook"></a>
      <a href="" target="_blank" title="Instagram"><img src="/imagens/instagram.png" class="img" title="Instagram"></a>
      <a href="" target="_blank" title="You Tube"><img src="/imagens/youtube.png" class="img" title="You Tube"></a>      
    </p>
    <p><a href="" target="_blank"><img src="/imagens/CCP.png" width="91" height="25"></a></p>
    <div class="newsletter">
    	<h6>Inscreva-se para saber das novidades</h6>
         <form method="POST" action="/newsletter"  onSubmit="return checkform_cadastro_newsletter(this);"  autocomplete="off">
        	<input type="text" value="" name="email" placeholder="seuemail@email.com.br">
            <input type="submit" value=" Enviar ">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">	
        </form>        
    <div class="clear"></div>
    </div>
    
    <div id="navigation">
    
	
           <ul class="rodape"> 
				<%	if (shopping == ''){   %>
					
					<li><a href="/termos">Termos e condições </a></li>
					<li><a href="http://adlibdigital.zendesk.com/hc/pt-br" target="_blank">Perguntas frequentes</a> </li>
					<li><a href="/contato">Contato</a></li>
				<%	} 	else {	%>
					<li><a href="/informacoes">Informações  </a></li>
					<li><a href="/termos">Termos e condições  </a></li>
					<li><a href="http://adlibdigital.zendesk.com/hc/pt-br" target="_blank">Perguntas frequentes</a> </li>
					<li><a href="/contato">Contato</a></li>
				<%  } %>
          </ul>
          
          
    
    </div><!--navigation-->

    <div class="copy">Copyright On Stores 2017®</div>
    
   <div id="toTop"><img src="/imagens/bt-topo.png" width="32" height="32" /></div> 
   </div> 
</footer>


<script type="text/javascript" src="/source/jquery.fancybox.js"></script>

<script src="/js/owl.carousel.js"></script>
<script src="/js/on.js">
<script src="/js/ccp.js"></script>
<script src="/js/jquery.maskedinput.2015.js"></script>
<script src="/js/jquery.maskMoney.js"></script>
<script src="/js/jquery.dlmenu.js"></script>
<script>
	$(function() {
		$( '#dl-menu' ).dlmenu();
	});		
</script>
<script type="text/javascript">
//DEIXAR ESTE CODIGO AQUI
function favoritar_produto(produto, event){
			event.preventDefault();
			$.ajax({
			  type: 'POST',
			  url: '/produtos/favoritar/',
			  dataType : 'json',
			  data: { 
				'produto': produto, 
				'_csrf': '<%= csrfToken %>'
			  },
			  success: function (response) {
				alert('Produto selecionado com sucesso!');
				return false;
			  },
			  error: function () {
				//
			  }
		   });
		}
			
		function remover_produto(produto, event){
			event.preventDefault();
			$.ajax({
			  type: 'POST',
			  url: '/produtos/desfavoritar/',
			  dataType : 'json',
			  data: { 
				'produto': produto, 
				'_csrf': '<%= csrfToken %>'
			  },
			  success: function (response) {
				$("#lk" +  produto).remove();
				alert('Produto removido com sucesso!');
			  },
			  error: function () {
				//
			  }
		   });
		}	
		

$(document).ready(function() {
	
		$('#campobusca').on('keyup', function(e) {
		 if (e.which !== 32) {
			var value = $(this).val();
			var noWhitespaceValue = value.replace(/\s+/g, '');
			var noWhitespaceCount = noWhitespaceValue.length;
			if (noWhitespaceCount > 3) {
			   pesquisar_produto(value);
			}
		}
		});
			
	function pesquisar_produto(produto){
		$.ajax({
		  type: 'POST',
		  url: '/busca',
		  dataType : 'json',
		  data: { 
			'produto': produto, 
			'_csrf': '<%= csrfToken %>'
		  },
		  
		  success: function (response) {
		    var retorno = '';
			$.each(response, function( index, value ) {
				var item = value;
				console.log('estou no item');
                retorno += '<a href="/produtos/' + item.url_title + '" class="prods">';
                retorno += '        <section>';
				
				<%
				if(usuario != '') {
				%>
				
                retorno += '            <div class="favs">';
                retorno += '                <span>' + item.desconto + ' %</span>';
                retorno += '                <button value="" id=""></button>';
                retorno += '            </div>';
				
				<%
				} 
				%>
				
                retorno += '            <img src="' + item.imagem + ' " title="' +   item.produto + '" class="img">';
                retorno += '            <h2>' + item.loja + '</h2>';
                retorno += '            <h3>' + item.produto + '</h3>';
                retorno += '            <div class="valor">';
				
				if (item.de == item.por) {
					retorno += '                <span>R$ ' + item.por + '</span>';
				} else {
					retorno += '                <span>De R$ ' + item.de + '</span>';
					retorno += '                <span>Por R$ ' + item.por + '</span>';
				}
				
                retorno += '            </div>';
                retorno += '       </section>';
                retorno += '   </a>';
				
			});
			$("#result").html(retorno);
		  },
		  error: function () {
			$("#result").html('');
		  }
	   });
	}	
	
});	
</script>
