<% layout("../layout/index") -%>
<% block("title", "ON Market Place | Loja On line | Nome do Produto"); -%>

 <div class="full">
    
  <article id="conteudo">
  	
    <!--------------------Galeria------------------------>
    <section class="detail">
       
        <div id="foto">
        	<div class="fleft">
                <a class="buttons"><img src="imagens/chapeu.jpg" class="img" id="foto1"></a>
                <a class="buttons"><img src="imagens/chapeu2.jpg" class="img" id="foto2"></a>
                <a class="buttons"><img src="imagens/chapeu3.jpg" class="img" id="foto3"></a>
                <a class="buttons"><img src="imagens/chapeu4.jpg" class="img" id="foto4"></a>
            </div>
            <div class="fright">
            	<div class="galery foto1"><img src="imagens/chapeu.jpg" class="img"></div>
                <div class="galery foto2"><img src="imagens/chapeu2.jpg" class="img"></div>
                <div class="galery foto3"><img src="imagens/chapeu3.jpg" class="img"></div>
                <div class="galery foto4"><img src="imagens/chapeu4.jpg" class="img"></div>
            </div><!--fright-->
        </div><!--foto-->
         
    </section> 
    
    <!-----------infos cores, tamanho, shopping--------->
    <div id="info">
     <form action="">
       	<div class="compartilha"><img src="imagens/compartilha.png" width="30" height="30"></div> 
        <p>FARM</p> 
        <p>Shopping Cidade São Paulo</p>
        <h1>Chapéu inverno preto casual
        <div class="pline"></div>
        </h1>   
        
        <div class="preco">
           <span>De: R$ 35,40</span>
           <span>Por: 20,00</span>
         </div> 
         
         <div class="cor">
         	<span>Cor</span>
            <a href="" style="background:#F90"></a>
            <a href="" style="background:#093"></a>
            <a href="" style="background:#FF0"></a>
            <a href="" style="background:#F60"></a>
         </div> 
         
         <div class="tamanho">
         	<span>Tamanho</span>
            <a href="">P</a>
            <a href="">M</a>
            <a href="">G</a>
            <a href="">GG</a>
         </div> 
   
         <div class="qtd">
            <span>Tamanho</span>
            <a href="">-</a>
            <input type="text" value="" maxlength="2">
            <a href="">+</a>
         </div> 
     
         <input type="submit" value=" Adicionar à sacola ">         
   	</form>
   </div><!--info-->
    
     <!---Descrição---->
     
     <section id="descricao">
     
     
     	<h2>Descrição do Produto</h2>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
       
       
       </section>
       
        
        <div class="aviso">
        	<h3>Importante</h3>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
            <a href="#a-duvidas" class="fancybox">Dúvidas</a>
            <a href="#a-trocas" class="fancybox">Trocas</a>
            <a href="#a-contact" class="fancybox">Contato</a>
           
            <div id="a-duvidas" class="danger">
                <h3>Dúvidas</h3>
                <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>            	
            </div>
            
            <div id="a-trocas" class="danger">
            	<h3>Trocas</h3>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
            </div>
            
            <div id="a-contact"class="danger">
            	<h3>Contato</h3>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
            </div>
            
        </div><!--aviso-->
        
        
        
    
    
    <div id="more">
   		<h3 class="titles">
       		<span class="twhite" style="left: 13%;">Veja também</span>
        </h3>
        <div class="clear"></div><br><br>
        <a href="/produtos/teste" class="prods">
            <section>
                <div class="favs">
                    <span>30%</span>
                    <button value="" id=""></button>
                </div>
                <img src="imagens/sapato.jpg" title="nome do Produto" class="img">
                <h2>Arezzo</h2>
                <div class="shop">Shopping Cidade São Paulo</div>
                <h3>Sapato Oxford Feminino Facinelli</h3>
                <div class="valor">
                    <span>De R$ 35,40</span>
                    <span>Por 20,00</span>
                </div>
           </section>  
  		 </a> 
   
    <a href="/produtos/teste" class="prods">
        <section>
        	<div class="favs">
            	<span>30%</span>
                <button value="" id=""></button>
            </div>
       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">
            <h2>Arezzo</h2>
            <div class="shop">Shopping Cidade São Paulo</div>
            <h3>Sapato Oxford Feminino Facinelli</h3>
            <div class="valor">
            	<span>De R$ 35,40</span>
                <span>Por 20,00</span>
            </div>
       </section>  
   </a> 
   
    <a href="/produtos/teste" class="prods">
        <section>
        	<div class="favs">
            	<span>30%</span>
                <button value="" id=""></button>
            </div>
       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">
            <h2>Arezzo</h2>
            <div class="shop">Shopping Cidade São Paulo</div>
            <h3>Sapato Oxford Feminino Facinelli</h3>
            <div class="valor">
            	<span>De R$ 35,40</span>
                <span>Por 20,00</span>
            </div>
       </section>  
   </a> 
    <a href="/produtos/teste" class="prods">
        <section>
        	<div class="favs">
            	<span>30%</span>
                <button value="" id=""></button>
            </div>
       		<img src="imagens/sapato.jpg" title="nome do Produto" class="img">
            <h2>Arezzo</h2>
            <div class="shop">Shopping Cidade São Paulo</div>
            <h3>Sapato Oxford Feminino Facinelli</h3>
            <div class="valor">
            	<span>De R$ 35,40</span>
                <span>Por 20,00</span>
            </div>
       </section>  
   </a>         
        
    </div><!--more-->
     
  </article> <!--foto-->

 </div><!--full-->

